<head>
  <!--probably not needed, just in case...?-->
  <link rel="stylesheet" href="/styles.css" />
</head>
<div class="links">
  <% links.forEach((link) => { %>
  <a href="<%= link.href %>"><span><%= link.text %></span></a>
  <% }) %>
</div>
