/* main page, and most other pages (default styling) */

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(15, 23, 43);
}

a,
span {
  text-decoration: none;
  color: rgb(25, 60, 184);
  font-size: 1.5rem;
  transition: all 0.5s;
}

button {
  padding: 0.75rem 0.5rem;
  background-color: rgb(25, 60, 184);
  border: none;
  border-radius: 0.5rem;
  transition: all 0.5s;
}

button a {
  text-decoration: none;
  color: white;
}

button:hover,
button a:hover {
  transform: scale(1.2);
  cursor: pointer;
  /* the anchor element inside the button should handle this, but why not? */
  background-color: rgb(21, 93, 251);
}

.title {
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links a:hover,
.links span:hover {
  color: rgb(21, 93, 251);
  transform: scale(1.2);
  cursor: pointer;
}

.links {
  display: flex;
  gap: 3rem;
}

.messages {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.message {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background-color: rgb(29, 41, 61);
  padding: 1rem;
  border-radius: 1rem;
  align-self: start;
}

.date {
  color: rgb(144, 161, 185);
}

/* form page */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

label {
  font-size: 1.4rem;
  font-weight: bold;
}

input,
textarea {
  padding: 0.5rem 0.75rem;
  background-color: rgb(2, 6, 24);
  border-radius: 1rem;
  border: none;
  transition: transform 0.5s, border 0.5s;
}

input:focus,
textarea:focus {
  transform: scale(1.05);
  border: 4px rgb(47, 13, 104) solid;
  outline: none;
}

/* details page */

.message-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.message-text {
  overflow-wrap: break-word;
  max-width: 90%;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: rgb(29, 41, 61);
}

@media (max-width: 600px) {
  nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
}

.errors {
  padding: 1rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.errors li {
  color: rgb(231, 0, 11);
}
